#galeria {
  margin: 10px;
  background-color: var(--light);
}


/* AÑOS ANTERIORES */

.titulo-años-anteriores {
  margin: 0px;
  padding-top: 10px;
  height: calc(100vh - 85px);
  font-family: 'Golos Text', sans-serif;
  color: var(--primaryDark);
  background-color: var(--light);

}