.navbar {
  margin: 0;
  width: 100%;
  a{
    color: $primario;
    font-size: 20px;
    transition: .3s;
    &:hover{
      color: $oscuro;
    }
  }
  
  }


.navegador-redes {
  display: flex;
  a {
    padding: 10px;
    font-size: 16px;
    color: $primario;
    text-decoration: none;
    transition: .3s;
    &:hover {
      color: $oscuro;
    }
  }
}

