.seccion-principal {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url("../img/batucada-1.jpg");    
  filter: brightness(100%);    
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.seccion-principal h3 {
  font-size: 50px;
  padding: 40px;
  color: aliceblue;
  
}

.seccion-principal button {
  color: aliceblue;
  border: solid aliceblue;
  border-radius: 5px;
  font-size: 20px;
  margin: 0 0 0 40px;
  padding: 12px 30px;
  cursor: pointer;
  background: none;
  
}

.seccion-principal button:hover {
  background-color: aliceblue;
  color: #E4498D;
  border: solid #E4498D;
}

.cuenta-regresiva {
  width: 100%;
  /* height: 400px; */
  background: rgb(242,242,242);
  background: linear-gradient(0deg, rgba(242,242,242,1) 46%, rgba(217,72,139,1) 100%);
  box-shadow: 0 0 3px 0px #333;
}

.titulo-cuenta-regresiva {
  padding: 15px 0;
  font-size: 30px;
  letter-spacing: 1px;
  color: var(--light);
  font-family: 'Golos Text', sans-serif;
  text-align: center;
}

.pie-cuenta-regresiva {
  padding: 15px 0 ;
  font-size: 24px;
  letter-spacing: 1px;
  color: var(--primaryDark);
  font-family: 'Golos Text', sans-serif;
  text-align: center;
}

.cuenta-regresiva-contenedor {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 60px;
  color: var(--primaryDark);
  font-family: 'Golos Text', sans-serif;
}

.cuenta-regresiva-item {
  display: flex;
  flex-direction: column;
  padding: 20px 50px 0 50px;

}

.cuenta-regresiva-etiqueta {
  font-size: 18px;
  padding-top: 0;
}

.main {
  width: 100%;
  margin-top: -20px;
  background-color: var(--light);
}

.main-izquierda {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 75px 0 0 75px;
}

.main-izquierda h3 {
  color: var(--primaryDark);
  font-family: 'Golos Text', sans-serif;
  font-size: 45px;
}
.main-izquierda img {
  height: 500px;
  object-fit: cover;
  filter: brightness(85%);
  margin: 25px 10px 25px 0;
  box-shadow: -20px -20px var(--primary);
}


.main-derecha {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 75px 0 0 75px;
  color: #eee;
}

.main-derecha h3 {
  color: var(--primaryDark);
  font-family: 'Golos Text', sans-serif;
  font-size: 45px;
}

.main-derecha p {
  color: var(--primaryDark);
  font-family: 'Nunito', sans-serif;
  font-size: 28px;
  
}