.img-principal {
  width: 100vw;
  height: calc(100vh - 91px);
  background-image: url("../img/verde-1.jpg");
  background-position:bottom;
  background-size: cover;
}

.historia {
  width: 100%;
  margin: 0px;
  padding: 1.3rem;
  background: $claro;
  color: $primarioOscuro;
  font-family: $fuentePrimaria;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  p {
    max-width:60rem;
    text-align: center;
    font-size: 1.3rem;
    color: $primarioOscuro;
    font-family: $fuentePrimaria;
  }
  h3 {
    font-size: 3rem;
  }
}

.texto {
  margin: 0;
}


