// Colores

$primario: #D9488B;
$primarioOscuro: #B03A71 ;
$secundario: #038C33 ;
$terciario: #F2E7AE ;
$cuarto: #F2B705 ;
$quinto: #F28F6B ;
$oscuro: #262020 ;
$claro: #F2F2F2 ;


// Fuentes

$fuentePrimaria: 'Golos Text', sans-serif;