    * {
        margin: 0;
        padding: 0;
    }

    #mailto {
        visibility: hidden;
    }

    .navbar {
        background-color: #333;
    }

    .navbar a{
        color:#E4498D;
        font-size: 22px;
    }
    


    .navegador-redes {
        display: flex;
    }
    
    
    .navegador-redes a {
        padding: 10px;
        font-size: 18px;
        color: #E4498D;
        text-decoration: none;
        transition: .3s;
    }

    .navegador-redes a:hover {
        color: #ef9968;
    }
    
    /* ------------------------------ */
    
    
    .seccion-principal {
        height: 100vh;
        width: 100vw;
        background-image: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url("imagenes/batucada-1.jpg");    
        filter: brightness(100%);    
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    
    .seccion-principal h3 {
        font-size: 50px;
        padding: 40px;
        color: aliceblue;
        
    }
    
    .seccion-principal button {
        color: aliceblue;
        border: solid aliceblue;
        border-radius: 5px;
        font-size: 20px;
        margin: 0 0 0 40px;
        padding: 12px 30px;
        cursor: pointer;
        background: none;
        
    }

    .seccion-principal button:hover {
        background-color: aliceblue;
        color: #E4498D;
        border: solid #E4498D;
    }


    /* ------------------------------ */

    .cuenta-regresiva {
        width: 100vw;
        /* height: 400px; */
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,0.9668242296918768) 28%, rgba(114,37,71,1) 73%, rgba(228,73,141,1) 100%);  
        box-shadow: 0 0 3px 0px #333;
    }

    .titulo-cuenta-regresiva {
        padding: 15px 0;
        font-size: 30px;
        letter-spacing: 1px;
        color: aliceblue;
        font-family: 'Recoleta', sans-serif;
        text-align: center;
    }

    .pie-cuenta-regresiva {
        padding: 15px 0 ;
        font-size: 24px;
        letter-spacing: 1px;
        color: aliceblue;
        font-family: 'Recoleta', sans-serif;
        text-align: center;
    }

    .cuenta-regresiva-contenedor {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        font-size: 60px;
        color: aliceblue;
        font-family: 'Recoleta', sans-serif;
    }

    .cuenta-regresiva-item {
        display: flex;
        flex-direction: column;
        padding: 20px 50px 0 50px;

    }

    .cuenta-regresiva-etiqueta {
        font-size: 18px;
        padding-top: 0;
    }


      /* ------------------------------ */

      .main {
        width: 100vw;
        height: 1050px;
        background-color: rgba(0,0,0,0.9668242296918768);
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
      }

      .main-izquierda {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 75px 0 0 75px;
      }

      .main-izquierda h3 {
        color: #E4498D;
        font-family: 'Recoleta', sans-serif;
        font-size: 45px;
      }
      .main-izquierda img {
        height: 500px;
        object-fit: cover;
        filter: brightness(85%);
        margin-top: 25px;
        box-shadow: -20px 20px #E4498D;
      }


      .main-derecha {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 75px 0 0 75px;
        color: #eee;
      }

      .main-derecha h3 {
        color: #E4498D;
        font-family: 'Recoleta', sans-serif;
        font-size: 45px;
      }

      .main-derecha p {
        color: #E4498D;
        font-family: 'Nunito', sans-serif;
        font-size: 28px;
        
      }
      



    .footer {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: rgba(0,0,0,0.9668242296918768);
        border-top: solid .1px aliceblue;
      }

    .footer-copyright {
        font-size: 18px;
        color: aliceblue;
        font-family: 'Nunito', sans-serif;
        
    }

    .footer-redes {
        display: flex;
    }
    
    
    .footer-redes a {
        padding: 10px;
        font-size: 18px;
        color: aliceblue;
        text-decoration: none;

    }



    /* ------------------------------------------------- */

    .contacto {
        width: 100vw;
        background-color: rgba(0,0,0,0.9668242296918768); ;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: aliceblue;
    }

    .contacto h3 {
        font-size: 55px;
        font-family: 'Nunito', sans-serif;
        margin: 35px;
    }

    .contacto-datos {
        margin: 35px;
        display: flex;
        gap: 145px;
        font-size: 15px;
    }

    .contacto-datos h5 {
        margin-bottom: 5px;
        font-size: 17px;

    }

    .contacto-datos h5 i {
        padding: 3px;
        color: #E4498D;
    }

    .contacto-mapa-form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 105px;
    }

    .formulario-contenedor {
        margin: 55px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;
        font-family: 'Nunito', sans-serif;
    }

    .formulario-contenedor h5 {
        font-size: 32px;
    }
    .formulario-contenedor p {
        font-size: 16px;
        flex-wrap: wrap;
    }

    .formulario-contenedor form {
        font-size: 21px;
    }
    
    .formulario-contenedor input {
        margin: 10px;
        height: 35px;
    }

    .formulario-contenedor textarea {
        margin: 10px;
    }

    .name input {
        width: 43%
    }

    .email input, .asunto input {
        width: 94%;
    }

    .enviar {
        display: flex;
        justify-content: flex-start;
    }

    .enviar button {
        font-size: 16px;
        margin: 10px;
        width: 60%;
        height: 35px;
        color: aliceblue;
        border: solid aliceblue;
        border-radius: 5px;
        cursor: pointer;
        background: none;
    }
    
    .enviar button:hover {
        background-color: aliceblue;
        color: #E4498D;
        border: solid #E4498D;
    }

