@media screen and (min-width:768px) and (max-width: 1023px) {

    .navegador {
        width: 100vw;
        height: 130px;
        background: #eee;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    .navegador-logo {
        height: 50%;
        border-radius: 50%;
        border: 1px solid #444;
    }
    .nav {   
    display: flex;

    }
    .nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        list-style: none;
    }
    
    .nav ul a {
        text-decoration: none;
        color: #E4498D;
        font-weight: bold;
        font-family: 'Recoleta', sans-serif;
    }
    
    .nav li {
        padding: 16px;
        font-size: 14px;
        text-align: center;
    }

    .navegador-redes {
        display: flex;
    }
    
    .esconder, .toggle  {
        display: none;
    }

    .no-esconder {
        margin: 0;
        padding: 3px;
        font-size: 18px;
        color: #E4498D;
        text-decoration: none;
        transition: .5s;
    }

    .menu-desplegable { 
        display: none;
    }
    
  
    
    /* ------------------------------ */
    
    
    .seccion-principal {
        height: 600px;
        width: 100vw;
        background-color: #444;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    
    .seccion-principal h3 {
        font-size: 50px;
        padding: 40px;
        color: aliceblue;
    }
    
    .seccion-principal button {
        font-size: 25px;
        margin: 0 0 0 40px;
        padding: 9px;
        appearance: inherit;
        cursor: pointer;
    }

}